@use "background";
@use "colors";

:root {
  /* 功能色 */
  --color-success: #20c997;
  --color-warning: #ffd43b;
  --color-error: #ff6b6b;
  --color-info: #4f46e5;
  --color-processing: #6b7280;
  --color-checking: #f59e0b;

  /* 阴影色 */
  --color-box-shadow: 0 0 0;

  /* 主题色 */
  --theme-color: 32 201 151;
  //--theme-color: 79 70 229;
}

@mixin dark($theme-name) {
  [data-theme="#{$theme-name}"] {
    @include colors.dark;

    --color-box-shadow: 255 255 255;
  }
}

@media (prefers-color-scheme: dark) {
  @include dark("sync");
}

@include dark("dark");

@mixin theme-transition($other-transition: "") {
  transition: background-color var(--theme-transition-duration),
  color var(--theme-transition-duration),
  box-shadow var(--theme-transition-duration),
  border-color var(--theme-transition-duration),
  #{$other-transition};
}

body {
  background: var(--neutral-50);
  color: var(--neutral-900);
  --theme-transition-duration: 10s;
  @include theme-transition;
}

.theme-transition {
  @include theme-transition;
}

.view-container {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.view-card {
  background: var(--neutral-50);
  color: var(--neutral-900);
  @include theme-transition;

  padding: 2.5rem;
  width: 100%;
  max-width: max(300px, 10vw);

  border-radius: 1.5rem;
  box-shadow: 0 .3rem 1.2rem rgba(var(--color-box-shadow) / .1);
}

.view-content-container {
  position: fixed;
  align-self: flex-start;
  overflow: auto;

  max-height: 80vh;
  max-width: 80vw;

  top: 4rem;
}

.no-select-no-drag {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--neutral-900);
  @include theme-transition;
}

button {
  background: rgba(var(--theme-color) / .9);
  color: var(--neutral-50);

  border: none;
  outline: none;

  cursor: pointer;
  @include theme-transition("background-color .4s");

  &:disabled {
    background: var(--color-processing);
    cursor: not-allowed;
  }

  &[data-disabled="true"] {
    background: var(--color-processing);
    cursor: not-allowed;
  }
}

select {
  color: var(--neutral-900);
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-200);

  outline: none;
  @include theme-transition("border-color 0.4s linear, box-shadow 0.4s linear");

  &:focus {
    border-color: rgba(var(--theme-color) / .9);
    box-shadow: 0 0 0 3px rgba(var(--theme-color) / .1);
  }

  &:disabled {
    border-color: transparent;
    box-shadow: none;

    @include theme-transition;
  }
}

option {
  background-color: var(--neutral-50);
  color: var(--neutral-900);
  border: 1px solid var(--neutral-200);

  @include theme-transition("background-color .4s, color .4s, border-color .4s");

  &:checked {
    border-color: rgba(var(--theme-color) / .9);
  }
}

label {
  color: var(--neutral-700);
  @include theme-transition;
}

input {
  color: var(--neutral-700);
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-200);

  outline: none;
  box-sizing: border-box;

  @include theme-transition("border-color 0.4s linear, box-shadow 0.4s linear");

  &:focus {
    border-color: rgba(var(--theme-color) / .9);
    box-shadow: 0 0 0 3px rgba(var(--theme-color) / .1);
  }

  &:read-only {
    border-color: transparent;
    box-shadow: none;

    @include theme-transition;
  }

  &[type="date"] {
    cursor: text;
  }
}

dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: transparent;
  border: none;
}
